* {
    font-family: "Rubik", sans-serif;
}

.nav-link:hover {
    color: #10a0cf !important;
}

.landing {
    background-image: url("/img/banner/home-banner.png");
    background-size: cover;
}

.experiences__right-side {
    background-color: #FEF7F7;
}

.experiences__years {
    font-size: clamp(1.3rem, 6vw, 6rem);
}